{% extends 'main/base.html' %}

{% block content %}
<div class="container4">
    <div class="item">
        <button class="btn btn-primary" type="button" value=""><a href="{% url 'add_post' %}">Add Post</a></button>
    </div>
    
</div>
<div class="container4">
         {% for image in images %}
            <div class="card">
                <div class="post-author">
                    <div class="snap">
                        <img src="{{image.image.cdn_url}}" alt="">
                    </div>
                    <p class = "home-text">
                        <a href="{% url 'profile' %}">{{image.profile.username}}</a>
                    </p>
                </div>
                <div class="post-image">
                    <img src="{{image.image.cdn_url}}" alt="Image">
                </div>
                <ul class="heart-icon">
                    <li>
                        <a href="{% url 'like' image.id %}"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a> 
                    </li>
                </ul>
                <div class="likes">
                    <p>{{image.imagelikes.count}} likes</p>
                </div>

                <div class="img-caption">
                    {% autoescape on %}
                    <p><span>{{image.profile.username}}:</span> {{image.image_caption|safe}}</p>
                    {% endautoescape %}
                    <h5>{{image.post_date|timesince}} ago</h5>
                </div>
                <div class="comments">
                    
                </div>
                <div class="add-comment">
                    <form action="POST">
                        <input type="text" placeholder="Add a comment...">
                    </form>
                </div>
            </div>
        
            {% empty %}
            <h2>No images. Follow some people to see their images</h2>
            {% endfor %}
        </div>
{% endblock content %}