<nav class="navbar">
  

    <div class="row-container">
        <div class="left item">
            <a class="" href="{% url 'home'%}"><i class="fab fa-instagram fa-2x logo"></i></a>
            <a class="billabongs" href="{% url 'home'%}">Instagram</a>
        </div>
        <div class="middle item nav-search">
            <form class="form-inline" role="search" action="{% url 'search' %}">
                <input class="form-control search-input" name="search" type="search" placeholder="&#x1F50D; Search" aria-label="Search">
            </form>
        </div>
        {% if user.is_authenticated %}
         <div class="bottom item">
            <a href="{% url 'profile' username=current_user%}"><i class="far fa-user fa-2x"></i></a>
        </div>
        {% endif %}
       
    </div>   
   
</nav>