{% extends 'main/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="search">
    <div class="search-results">
       <p>{{profiles.count}} results have been found for the searched term <span>{{message}}</span></p> 
    </div>
    <div class="searched-profiles">
        {% if profiles %}
            {% for profile in profiles %}
            <div class="image-info">
                <div class="search-img">
                    {% if profile.profile_photo %}
                    <img  src="{{profile.profile_photo.cdn_url}}" alt="">
                    {% else %}
                    <img src="/static/images/defaultimg.jpeg" alt="">
                    {% endif %}
                </div>
               
                <p>{{profile.user.username}}</p>
                <p><a class="btn btn-primary" href="{% url 'profile' username=profile.user.username %}">View Profile</a></p>
            </div>
        {% endfor %}
        {% else %}
            <div class="text-center">
                <h4 class="font"></h4>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock  %}